<template>
<div class="NotFound">
  <ul class="c-rainbow">
    <li class="c-rainbow__layer c-rainbow__layer--white">404 NOT FOUND</li>
    <li class="c-rainbow__layer c-rainbow__layer--orange">404 NOT FOUND</li>
    <li class="c-rainbow__layer c-rainbow__layer--red">404 NOT FOUND</li>
    <li class="c-rainbow__layer c-rainbow__layer--violet">404 NOT FOUND</li>
    <li class="c-rainbow__layer c-rainbow__layer--blue">404 NOT FOUND</li>
    <li class="c-rainbow__layer c-rainbow__layer--green">404 NOT FOUND</li>
    <li class="c-rainbow__layer c-rainbow__layer--yellow">404 NOT FOUND</li>
  </ul>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
$root: ".c-rainbow";

@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");

.NotFound {
  
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */

  --axis-x: 1px;
  --axis-y: 1rem;
  --delay: 10;

  --color-black: #000;
  --color-white: #fff;
  --color-orange: #d49c3d;
  --color-red: #d14b3d;
  --color-violet: #cf52eb;
  --color-blue: #44a3f7;
  --color-green: #5acb3c;
  --color-yellow: #debf40;

  --color-foreground: var(--color-white);
  --font-name: Righteous;

  background-color: var(--color-background);

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: var(--font-name);

  height: 100vh;
}

#{$root} {
  counter-reset: rainbow;
  position: relative;
  display: block;

  list-style: none;

  padding: 0;
  margin: 0;

  &__layer {
    --text-color: var(--color-foreground);
    counter-increment: rainbow;
    font-size: 3rem;
    color: var(--text-color);

    text-shadow: -1px -1px 0 var(--color-black), 1px -1px 0 var(--color-black),
      -1px 1px 0 var(--color-black), 1px 1px 0 var(--color-black),
      4px 4px 0 rgba(0, 0, 0, 0.2);

    animation: rainbow 1.5s ease-in-out infinite;

    @for $i from 1 through 7 {
      &:nth-child(#{$i}) {
        animation-delay: calc(#{$i} / var(--delay) * 1s);
        left: calc(var(1) * #{$i});
        z-index: -#{$i * 10};
      }
    }

    &:not(:first-child) {
      position: absolute;
      top: 0;
    }

    &--white {
      --text-color: var(--color-white);
    }
    &--orange {
      --text-color: var(--color-orange);
    }
    &--red {
      --text-color: var(--color-red);
    }
    &--violet {
      --text-color: var(--color-violet);
    }
    &--blue {
      --text-color: var(--color-blue);
    }
    &--green {
      --text-color: var(--color-green);
    }
    &--yellow {
      --text-color: var(--color-yellow);
    }
  }
}

@keyframes rainbow {
  0%,
  100% {
    transform: translatey(var(--axis-y));
  }
  50% {
    transform: translatey(calc(var(--axis-y) * -1));
  }
}
</style>
