<template>
  <div class="Home">
    <h1 class="title text--primary">Dashboard</h1>
    <v-container class="my-5">
      <v-layout class="mb-3">
        <v-tooltip top>
          <template v-slot:activator="{on}">
            <v-btn small text class="text--secondary" @click="sortBy('title')" v-on="on">
              <v-icon left small>mdi-folder</v-icon>
              <span class="caption text-lowercase">By project name</span>
            </v-btn>
          </template>
          <span>Sort project by title</span>
        </v-tooltip>
        <v-tooltip top>
          <template v-slot:activator="{on}">
          <v-btn small text class="text--secondary" @click="sortBy('person')" v-on="on">
            <v-icon left small>mdi-account</v-icon>
            <span class="caption text-lowercase">By person</span>
          </v-btn>
          </template>
          <span>Sort by person</span>
        </v-tooltip>
      </v-layout>

      <v-card flat v-for="project in projects" :key="project.id">
        <v-layout wrap :class="`pa-3 project ${project.status}`">
          <v-flex xs12 sm3 md3>
            <div class="caption text--secondary">Project title</div>
            <div>{{project.title}}</div>
          </v-flex>
          <v-flex xs4 sm3 md2>
            <div class="caption text--secondary">Person</div>
            <div>{{project.person}}</div>
          </v-flex>
          <v-flex xs4 sm3 md2>
            <div class="caption text--secondary">Due date</div>
            <div>{{project.dueDate}}</div>
          </v-flex>
          <v-flex xs4 sm3 md2>
            <div class="float-right mr-5">
              <v-chip small :class="`${project.status} text--primary caption my-2`">{{project.status}}</v-chip>
            </div>
          </v-flex>
        </v-layout>
        <v-divider></v-divider>
      </v-card>
    </v-container>
  </div>
</template>

<script>
// @ is an alias to /src
export default {
  name: "Home",
  components: {},
  data() {
    return {
      projects: [
        {
          id: 1,
          title: "swag",
          person: "nana",
          dueDate: "some Date here",
          status: "ongoing",
          content:
            "Doggo ipsum puggorino adorable doggo he made many woofs heckin, heckin good boys pats. lotsa pats. Borkf long bois heckin good boys and girls long woofer you are doin me a concern shibe pats bork, very taste wow boof corgo length boy clouds very hand that feed shibe. Very taste wow boof heck, mlem. Extremely cuuuuuute borking doggo bork h*ck, blop blep. What a nice floof vvv I am bekom fat, boofers."
        },
        {
          id: 2,
          title: "Dyeet",
          person: "dan",
          dueDate: "some Date here",
          status: "complete",
          content:
            "Doggo ipsum puggorino adorable doggo he made many woofs heckin, heckin good boys pats. lotsa pats. Borkf long bois heckin good boys and girls long woofer you are doin me a concern shibe pats bork, very taste wow boof corgo length boy clouds very hand that feed shibe. Very taste wow boof heck, mlem. Extremely cuuuuuute borking doggo bork h*ck, blop blep. What a nice floof vvv I am bekom fat, boofers."
        },
        {
          id: 3,
          title: "yeet",
          person: "adam",
          dueDate: "some Date here",
          status: "overdue",
          content:
            "Doggo ipsum puggorino adorable doggo he made many woofs heckin, heckin good boys pats. lotsa pats. Borkf long bois heckin good boys and girls long woofer you are doin me a concern shibe pats bork, very taste wow boof corgo length boy clouds very hand that feed shibe. Very taste wow boof heck, mlem. Extremely cuuuuuute borking doggo bork h*ck, blop blep. What a nice floof vvv I am bekom fat, boofers."
        },
        {
          id: 4,
          title: "damn",
          person: "jojo",
          dueDate: "some Date here",
          status: "ongoing",
          content:
            "Doggo ipsum puggorino adorable doggo he made many woofs heckin, heckin good boys pats. lotsa pats. Borkf long bois heckin good boys and girls long woofer you are doin me a concern shibe pats bork, very taste wow boof corgo length boy clouds very hand that feed shibe. Very taste wow boof heck, mlem. Extremely cuuuuuute borking doggo bork h*ck, blop blep. What a nice floof vvv I am bekom fat, boofers."
        }
      ]
    };
  },
  methods: {
    sortBy(prop) {
      this.projects.sort((a, b) => (a[prop] < b[prop] ? -1 : 1));
    }
  }
};
</script>

<style lang="css" scoped>
.project.complete {
  border-left: 4px solid #00af17;
  border-radius: 5px;
}
.project.ongoing {
  border-left: 4px solid orange;
  border-radius: 5px;
}
.project.overdue {
  border-left: 4px solid tomato;
  border-radius: 5px;
}

.v-chip.complete {
  background: #00af17;
}
.v-chip.ongoing {
  background: orange;
}
.v-chip.overdue {
  background: tomato;
}
</style>