<template>
  <div class="projects">
    <v-container class="my-5">
      <h1 class="title text--primary">Projects</h1>
      <v-expansion-panels accordion multiple hover>
        <v-expansion-panel v-for="project in myProjects" :key="project.id">
          <v-expansion-panel-header>{{project.title}}</v-expansion-panel-header>
          <v-expansion-panel-content class="text--primary">
            <div class="font-weight-bold text--primary">Due by {{project.dueDate}}</div>
            <div class="text--secondary">{{project.content}}</div>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      projects: [
        {
          id: 0,
          title: "swag",
          person: "nana",
          dueDate: "18-04-2020",
          status: "ongoing",
          content:
            "Doggo ipsum puggorino adorable doggo he made many woofs heckin, heckin good boys pats. lotsa pats. Borkf long bois heckin good boys and girls long woofer you are doin me a concern shibe pats bork, very taste wow boof corgo length boy clouds very hand that feed shibe. Very taste wow boof heck, mlem. Extremely cuuuuuute borking doggo bork h*ck, blop blep. What a nice floof vvv I am bekom fat, boofers."
        },
        {
          id: 1,
          title: "Dyeet",
          person: "dan",
          dueDate: "18-04-2020",
          status: "complete",
          content:
            "Doggo ipsum puggorino adorable doggo he made many woofs heckin, heckin good boys pats. lotsa pats. Borkf long bois heckin good boys and girls long woofer you are doin me a concern shibe pats bork, very taste wow boof corgo length boy clouds very hand that feed shibe. Very taste wow boof heck, mlem. Extremely cuuuuuute borking doggo bork h*ck, blop blep. What a nice floof vvv I am bekom fat, boofers."
        },
        {
          id: 2,
          title: "yeet",
          person: "adam",
          dueDate: "18-04-2020",
          status: "overdue",
          content:
            "Doggo ipsum puggorino adorable doggo he made many woofs heckin, heckin good boys pats. lotsa pats. Borkf long bois heckin good boys and girls long woofer you are doin me a concern shibe pats bork, very taste wow boof corgo length boy clouds very hand that feed shibe. Very taste wow boof heck, mlem. Extremely cuuuuuute borking doggo bork h*ck, blop blep. What a nice floof vvv I am bekom fat, boofers."
        },
        {
          id: 3,
          title: "damn",
          person: "adam",
          dueDate: "18-04-2020",
          status: "ongoing",
          content:
            "Doggo ipsum puggorino adorable doggo he made many woofs heckin, heckin good boys pats. lotsa pats. Borkf long bois heckin good boys and girls long woofer you are doin me a concern shibe pats bork, very taste wow boof corgo length boy clouds very hand that feed shibe. Very taste wow boof heck, mlem. Extremely cuuuuuute borking doggo bork h*ck, blop blep. What a nice floof vvv I am bekom fat, boofers."
        }
      ]
    };
  },
  computed: {
    myProjects(){
      return this.projects.filter(project => {
        return project.person === 'adam'
      })
    }
  }
};
</script>

<style>
</style>