<template>
  <div class="team">
    <h1 class="title text--primary">Team</h1>
    <v-container class="my-5">
      <v-layout wrap>
        <v-flex xs12 sm6 md4 lg3 v-for="person in team" :key="person.id">
          <v-card flat class="text-center ma-3">
            <v-responsive class="pt-4">
              <v-avatar size="100">
                <img :src="person.avatar" alt="avatar.png"/>
              </v-avatar>
            </v-responsive>
            <v-card-text>
              <div class="subheading text--primary">{{person.name}}</div>
              <div class="text--secondary">{{person.role}}</div>
            </v-card-text>
            <v-card-actions>
              <v-btn text>
                <v-icon small left>mdi-message</v-icon>
                <span>Message</span>
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      team: [
        {
          id: 0,
          name: "The best boi",
          role: "Web Dev",
          avatar: require('@/assets/avatar/avatar_1.png')
        },
        {
          id: 1,
          name: "Rya",
          role: "Graphic Design",
          avatar: require('@/assets/avatar/avatar_2.png')
        },
        {
          id: 2,
          name: "Chun",
          role: "Web Dev",
          avatar: require('@/assets/avatar/avatar_3.png')
        },
        {
          id: 3,
          name: "Wesley",
          role: "Full-Stack",
          avatar: require('@/assets/avatar/avatar_4.png')
        },
        {
          id: 4,
          name: "Ylva",
          role: "Design adviser",
          avatar: require('@/assets/avatar/avatar_5.png')
        }
      ]
    };
  }
};
</script>

<style>
</style>