<template>
  <v-app>
    <Navbar />
    <NavbarMobile class="d-lg-none"/>
    <v-main class="background">
      <router-view class="mx-4"></router-view>
    </v-main>
  </v-app>
</template>

<script>
import Navbar from "@/components/Navbar/Navbar.vue";
import NavbarMobile from '@/components/Navbar/NavbarMobile.vue'
export default {
  name: "App",
  components: {
    Navbar,
    NavbarMobile
  },
  data() {
    return {};
  }
};
</script>

<style lang="scss">
</style>
